body{
  font-family: 'Source Sons pro', sans-serif;
} 

.Topbar{
  background-color: #252c3bfa;
  text-align: center;
  
}

.Topbar > img {
  height: 85px;

}

.Maincontainer{

  padding: 4% 12%;
  margin-top: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.productPreview{

  width: 50%;
  position: relative;
  
}

.TimeSection{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  color: white;
  font-size: 40px;
}

.HeartBeatSection{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  color: white;
  font-size: 40px;
}

.HeartBeatSection  {
  animation: beat is infinite;
}

@keyframes beat {
  0%{
    transform: scale(1 , 1);
  }

  50%{
    transform: scale (1.2 , 1.2);
  }
  100%{
    transform: scale(1 , 1);
  }
  
}


.productPreview > img {

  width: 100%;
 
}

.productTitle{
   
   font-size: 48px;
   font-weight: 600%;
   margin-top: 0%;
   margin-bottom: 16px;

}

.productDescription{
   font-size: 20px;
   color:black ;
   margin-top: 0%;
   margin-bottom: 16px;
}

.productData{

  width: 70%;
 

}

.sectionHeading{
  font-size: 20px;
  margin-bottom: 8px;

}

.productImage{

  width: 100%;
  max-width: 80px;
  border-radius: 8px;
  margin-right: 12px;
  cursor: pointer;
}

.productImage1{

  width: 100%;
  max-width: 80px;
  border-radius: 8px;
  margin-right: 12px;
  cursor: pointer;
  border: 2px solid teal;
}

.Features{

  font-size: 20px;
  margin-bottom: 8px;
}

.TimeBtn{
 
  background-color: gainsboro;
  margin-right: 12px;
  font-size: 14px;
  border-radius: 8px;
  border: 0;
  box-sizing: 12px;
  min-width: 100px;
  height: 35px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  /* color: white;
  background-color: gray; */
  
}

.selectedTime{

  color: white;
  background-color: gray;
}

.RateBtn{

  margin-right: 12px;
  font-size: 14px;
  border-radius: 8px;
  border: 0;
  min-width: 100px;
  height: 35px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
}

.BuyBtn{

  font-size: 14px;
  background-color: teal;
  color: white;
  margin-top: 12px;
  border-radius: 8px;
  border: 0;
  min-width: 100px;
  height: 35px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
}

