body{
  font-family: 'Source Sons pro', sans-serif;
} 

.Topbar{
  background-color: #252c3bfa;
  text-align: center;
  
}

.Topbar > img {
  height: 85px;

}

.Maincontainer{

  padding: 4% 12%;
  margin-top: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.productPreview{

  width: 50%;
  
}

.productPreview > img {

  width: 100%;
 
}

.productTitle{
   
   font-size: 48px;
   font-weight: 600%;
   margin-top: 0%;
   margin-bottom: 16px;

}

.productDescription{
   font-size: 20px;
   color:black ;
   margin-top: 0%;
   margin-bottom: 16px;
}

.productData{

  width: 70%;
 

}

.productImage{

  width: 100%;
  max-width: 80px;
  
  border: 2px solid teal;
  border-radius: 8px;
  margin-right: 12px;
  cursor: pointer;
}

.selectedProductImage{
  border: 2px solid teal;
}