.Topbar{
  background-color: #252c3bfa;
  text-align: center;
  
}

.Topbar > img {
  height: 85px;

}

.Maincontainer{

  padding: 4% 12%;
  margin-top: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.productPreview{

  width: 50%;
  
}

.productPreview > img {

  width: 100%;
 
}

.productData{

  width: 70%;
 

}